:javascript
  jQuery(document).ready(function() {
    // Carrousel
    $('#events').cycle({
        fx: 'scrollDown',
        speed:  500,
        timeout: 15000,
        next:   '#next',
        prev:   '#prev'
    });

    // Relative times
    jQuery("abbr.timeago").timeago();

    // Autorefresh
    setTimeout( "window.location.reload()", 3600*1000 );
  });

#main-bar.pos-left
  %h1= "#{@calendar.title}'s meetings"
%p
  %a#prev{ :href=> '#' } Prev
  = '~'
  %a#next{ :href=> '#' } Next

#events
  - for event in @calendar.events do
    != haml :'_event', :layout => false, :locals => { :event => event }

